/* font-family: "Raleway", sans-serif; */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  width: 1440px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  max-width: 1158px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #region header */

.page-header {
  background-color: #fff;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 18px;
}

.heder-logo .text-logo {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover,
.contacts-link:hover,
.nav-link:focus,
.contacts-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #endregion header */

/* #region hero */

.section-hero {
  background-color: #2e2f42;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-top: 188px;
  margin-bottom: 48px;
}

.hero-button-item {
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  font-family: inherit;
  padding: 16px 32px;
  margin-bottom: 188px;
}

.hero-button-item:hover,
.hero-button-item:focus {
  color: #fff;
  background-color: #404bbf;
}
/* #endregion hero */

/* #region features */

.section-features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-contents-tiile {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-contents-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #endregion features */

/* #region our team */

.page-team {
  color: #2e2f42;
  background-color: #f4f4fd;
}

.team-item {
  background-color: #fff;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 72px;
}

.team-name-photo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.about-name-photo {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion our team */

/* #region portfolio */

.page-portfolio {
  color: #2e2f42;
  padding-bottom: 120px;
}

.portfolio-list {
  background-color: #fff;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 72px;
}

.portfolio-item {
  padding-bottom: 48px;
}

.portfolio-name-foto {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-descr-photo {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion portfolio */

/* #region footer */
.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logo .text-logo {
  color: #f4f4fd;
}

.footer-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* #endregion footer */
